@import "_variables";
@import "_mixins";
@import "_utilities";
@import "_button";
@import "_keyframes";

// 日历
.datepicker {
	$bg-heading: #e9f0f9;
	$bg-thead: #D5E1F2;
	$color-other: #bebebe;
	$bg-hover: #f2f2f2;
	$color-hover: #676767;
	$gray: #ccc;

	position: absolute;

	border: 1px solid $gray;
	border-radius: 4px;
	overflow: hidden;

	.datepicker-heading {
		line-height: 30px;
		text-align: center;
		background-color: $bg-heading;
		a {
			display: none;
			text-decoration: none;
			// color: darken($gray);
			// cursor: pointer;
		}
	}
	
	// 天
	.datepicker-day {
		border-collapse: collapse;
		
		td {
			padding: 6px 8px;
  		text-align: center;
  		// transition: all .1s;
		}

		thead {
			background-color: $bg-thead;
			td {
				// cursor: normal;
			}
		}

		tbody {
			td {
				cursor: pointer;
				&:hover {
	  			background-color: $bg-hover;
	  		}
			}
		}

		td.datepicker-day-other {
			color: $color-other;

			&:hover {
				color: $color-hover;
			}
		}
	}
	
	// 月
	.datepicker-month {
	
	}
}